/* 
@font-face {
    font-family: "Bitter";
    src: local("Bitter-Regular"), local("Bitter Regular"), url("/Fonts/Bitter/Bitter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  } */
  
/* @font-face {
    font-family: "Bitter";
    src: local("Bitter-Regular"), local("Bitter Regular"), url("/Fonts/Bitter/Bitter-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;} */
    
    @font-face {
        font-family: "Bitter";
        src:url("/Fonts/Bitter/Bitter-VariableFont_wght.ttf");
        font-weight: 400;
        font-style: normal;}
    
    /* Ппри подключении через font-face некорректно отображает шрифт на самой страничке, 
    подключал различные файлы и с разных ресурсов (ttf, woff, woff2,static и variable, в том числе скачанные с GoogleFonts). 
    В конечном итоге не справился с проблемой и подключил Bitter через GoogleFonts,
    в index.html добавил строки с подключением  Bitter через GoogleFonts (предидущие без Bitter просто закомментировал, так-же как и link для 
    подключения файла fonts.css) */