@import './SCSS/reset';
@import './SCSS/fonts';
@import './SCSS/mixins';
@import './SCSS/deleted';
@import './SCSS/Section/html';
@import './SCSS/Section/header';
@import './SCSS/Section/hero';
@import './SCSS/Section/biography';
@import './SCSS/Section/designers';
@import './SCSS/Section/testimonials';
@import './SCSS/Section/str-point';
@import './SCSS/Section/footer';
@import './SCSS/Section/modal';
@import './SCSS/Section/form';
@import './SCSS/psevdo';
@import './SCSS/fonts-style';
