@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Bitter";
  src: url("Fonts/Bitter/Bitter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
html {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 135px;
  top: 0;
  z-index: 110;
}

.header__title {
  margin-left: max(23px, 40% - 553px);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}

.nav {
  margin-right: max(22px, 40% - 554px);
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
}

.nav__item {
  display: inline-block;
  margin-left: 3.8461538462vw;
}

.hero {
  background-color: #d6d4d0; /* на MDN написано что создавать фон необходимо (для ситуаций с непрогрузкой фото) */
  background-image: url(../image/Hero-section.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 630px;
  margin-top: 135px;
  position: relative;
}

.hero__txt-block {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: auto;
  width: max(690px, 20% + 402px);
  min-height: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 110px;
  padding-bottom: 110px;
}

.hero__txt {
  text-align: center;
  margin: 0;
}

.hero__txt_first {
  margin-bottom: 14px;
}

/* Использовал чисто отступы, display и position для верстки (в некоторых местах использовал calc для создания пропорционального расширения и сжатия). */
.biography {
  width: 81%;
  max-width: 1680px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding-top: 151px;
}

.biography__img {
  width: 49%;
  min-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.biography__title {
  height: 47px;
  transform: rotate(-90deg) translateX(-30%);
  margin-right: auto;
}

.biography__sect {
  width: 39%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.biography__quote-sect {
  max-width: 370px;
}

.biography__rectangle {
  width: 20px;
  height: 6px;
  background-color: black;
  margin-bottom: 18px;
}

/* Использовал чисто Flex для создания секции. */
.designers {
  padding-top: 148px;
}

.designers__title {
  margin-left: max(139px, 40vw - 437px);
  padding-bottom: 30px;
}

.designers__list {
  max-width: -moz-min-content;
  max-width: min-content;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 98.33px);
  grid-auto-columns: 98.33px;
  grid-template-rows: 99px 439px 81px;
  grid-auto-flow: column;
  -moz-column-gap: 20px;
       column-gap: 20px;
  overflow-x: auto;
}

.designers__img_jess {
  grid-row: 1/3;
  grid-column: 1/6;
}

.designers__block_jess {
  grid-row: 3/4;
  grid-column: 3/6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.designers__img_kameron {
  grid-row: 2/3;
  grid-column: 6/9;
}

.designers__block_kameron {
  grid-row: 3/4;
  grid-column: 6/9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.designers__img_louisse {
  grid-row: 2/3;
  grid-column: 9/12;
}

.designers__block_louisse {
  grid-row: 3/4;
  grid-column: 9/12;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.designers__img_kameron-two {
  grid-row: 2/3;
  grid-column: 12/15;
}

.designers__block_kameron-two {
  grid-row: 3/4;
  grid-column: 12/15;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Секция сверстана с использованием Grid (для позиционирования блоков designers-NAME использовал flex).
Вынес заголовок за designers-list для того, чтобы при скролле заголовок оставался на месте и 
не скролился вместе с карточками.  */
.testimonials {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 150px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.site-block {
  display: grid;
  grid-template-columns: 1fr 57px;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 70px;
  padding: 20px 0px;
  align-items: center;
  grid-column: 1/3;
}

.site-block__web {
  height: 57px;
  width: 190px;
  grid-column: 2/3;
  transform: rotateZ(-90deg) translate(2px, -58px);
}

.testimonials__img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 760px;
  grid-column: 3/7;
}

.testimonials__title {
  transform: rotateZ(-90deg) translateX(-100px);
  height: 40px;
  width: 40px;
  grid-column: 7/8;
}

.testimonials__reviews-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column: 8/12;
}

.testimonials__reviews-txt {
  box-sizing: content-box;
  min-width: 216px;
  max-width: 452px;
  padding: 40px min(120px, 100% - 335px);
  text-align: center;
}

.testimonials__reviews-img {
  margin-top: -1px;
  margin-left: 3px;
  justify-self: center;
}

/* Использовал чисто Grid для создания секции (в некоторых местах использовал calc для создания пропорционального расширения и сжатия, 
например в testimonials-reviews-txt использовал для вычисления padding в зависимости от ширины).  */
.str-point {
  padding-top: 136px;
}

.str-point__title {
  margin-left: max(258px, 40vw - 318px);
  padding-bottom: 30px;
}

.str-point__list-block {
  max-width: -moz-min-content;
  max-width: min-content;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, 98.33px);
  grid-auto-columns: 98.33px;
  grid-template-rows: 555px;
  grid-auto-flow: column;
  -moz-column-gap: 20px;
       column-gap: 20px;
  overflow-x: auto;
}

.str-point__img-one {
  grid-column: 1/span 3;
}

.str-point__img-two {
  grid-column: 4/span 3;
}

.strengths-sect {
  grid-column: 7/span 4;
}

.strengths-sect__title {
  width: 453px;
  text-align: center;
}

.strengths-sect__list {
  text-align: left;
  padding: 28px 117px 0px 117px;
}

.str-point__img-three {
  grid-column: 11/span 3;
}

.str-point__img-four {
  grid-column: 14/span 3;
}

/* Написан на Grid и выполнен Fallback для Flex.  */
.footer {
  width: 100%;
  height: 168px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 150px;
}

.footer__address {
  width: max(273px, 20%);
  margin-left: max(20px, 40% - 556px);
}

.footer__rights {
  text-align: right;
  width: max(273px, 20%);
  margin-right: max(24px, 40% - 552px);
}

/* Для верстки использовал Flex, так как это самый простой способ  */
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
}
@media (max-width: 350px) {
  html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
}

.header__title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 86px;
  line-height: 103.2px;
}
@media (max-width: 350px) {
  .header__title {
    display: none;
  }
}

.nav__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
  display: inline-block;
  color: #000;
  text-decoration: none;
}
.nav__link:hover {
  color: #000;
  cursor: pointer;
  -webkit-text-decoration: underline #000;
          text-decoration: underline #000;
}
@media (max-width: 350px) {
  .nav__link {
    display: none;
  }
}

.nav__link-mobile {
  display: none;
}
@media (max-width: 350px) {
  .nav__link-mobile {
    display: inline-block;
    color: #000;
    text-decoration: none;
  }
}
@media (max-width: 350px) and (max-width: 350px) {
  .nav__link-mobile {
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 350px) {
  .nav__link-mobile:hover {
    color: #000;
    cursor: pointer;
    -webkit-text-decoration: underline #000;
            text-decoration: underline #000;
    font-weight: 700;
  }
}

.hero__txt_first {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 86px;
  line-height: 103.2px;
}
@media (max-width: 350px) {
  .hero__txt_first {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 93.31px;
  }
}

.hero__txt_second {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
}
@media (max-width: 350px) {
  .hero__txt_second {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
  }
}

.biography__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
@media (max-width: 350px) {
  .biography__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
  }
}

.biography__sect-title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 86px;
  line-height: 114.64px;
}
@media (max-width: 350px) {
  .biography__sect-title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 85.31px;
  }
}

.biography__art {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
}
@media (max-width: 350px) {
  .biography__art {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
  }
}

.biography__quote {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 31.2px;
}
@media (max-width: 350px) {
  .biography__quote {
    font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
  }
}

.designers__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
@media (max-width: 350px) {
  .designers__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
  }
}

.designers__name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  text-transform: uppercase;
}
@media (max-width: 350px) {
  .designers__name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
  }
}

.designers__span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
@media (max-width: 350px) {
  .designers__span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
  }
}

.designers__span_bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
}
@media (max-width: 350px) {
  .designers__span_bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
  }
}

.site-block__txt {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
}
@media (max-width: 350px) {
  .site-block__txt {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
  }
}

.site-block__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #000;
  text-decoration: none;
}
@media (max-width: 350px) {
  .site-block__link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
  }
}

.testimonials__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
@media (max-width: 350px) {
  .testimonials__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
  }
}

.testimonials__reviews-txt {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
}
@media (max-width: 350px) {
  .testimonials__reviews-txt {
    font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
  }
}

.str-point__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
@media (max-width: 350px) {
  .str-point__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
  }
}

.strengths-sect__title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 86px;
  line-height: 86px;
}
@media (max-width: 350px) {
  .strengths-sect__title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
  }
}

.strengths-sect__item {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 40.8px;
}
@media (max-width: 350px) {
  .strengths-sect__item {
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
  }
}

.footer__address {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
}
@media (max-width: 350px) {
  .footer__address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}
.footer__address-link {
  color: #ffffff;
  -webkit-text-decoration: underline #ffffff;
          text-decoration: underline #ffffff;
}
.footer__address:hover {
  cursor: pointer;
  text-decoration: none;
}

.footer__logo-span-first {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
}
@media (max-width: 350px) {
  .footer__logo-span-first {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
  }
}

.footer__logo-span-second {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28.13px;
}
@media (max-width: 350px) {
  .footer__logo-span-second {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 28.13px;
  }
}

.footer__rights {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
@media (max-width: 350px) {
  .footer__rights {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
  }
}/*# sourceMappingURL=styles.css.map */