html {
    width: 100%;
    min-width: 900px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;}

h1, h2, .hero-sect-txt-first {font-family: "Playfair Display", serif;}
.biography-katya-quote, .testimonials-reviews-txt, .str-point-strengths-ul {font-family: "Bitter", serif; font-weight: 400;}


.header-nav-ul, .hero-sect-txt, h2, .biography-katya-art, .footer-logo--text-first {font-weight: 500;}
h1 {font-weight: 600;}
h3, .designers-name, .designers-span {font-weight: 700;}
.testimonials-site-web > p {font-weight: 700;}
.footer-logo-text-second {font-weight: 900;}


.designers-list, .testimonials-site-web, .footer-address, .footer-rights {font-size: 1rem;}
.biography-katya-art, .footer-logo--text-first {font-size: 1.125rem;}    
.hero-sect-txt-second {font-size: 1.25rem;}
.header-nav-ul {font-size: 0px;}  /* добавил для того чтобы в дальнейшем не было отступов (когда буду задавать margin для .header-nav-ul li {}) */
.header-nav-ul li, h3, .footer-logo-text-second {font-size: 1.5rem;}
.biography-katya-quote {font-size: 1.625rem;} 
.testimonials-reviews-txt {font-size: 2rem;}
.str-point-strengths-ul {font-size: 2.125rem;}
h1, h2, .hero-sect-txt-first {font-size: 5.375rem;}
 

.str-point-strengths-title {line-height: 100%;}
h1, .hero-sect-txt-first, .biography-katya-quote, 
.testimonials-reviews-txt {line-height: 120%;}
.header-nav-ul, .hero-sect-txt-second, h3, .biography-katya-art, .designers-list, 
.testimonials-site-web, .footer-logo, .footer-rights {line-height: 117.2%;}
.biography-katya-title {line-height: 133.3%;}
.footer-address {line-height: 162.5%;}
.str-point-strengths-ul li {line-height: 124%;} /* немного изменил интер-линьяж чтобы подогнать под макет */

header {
    background-color: #ffffff;
    position: fixed;  
    width: 100%;
    height: 135px;    
    top: 0; 
    z-index: 110;}   
h1 {
    margin-left: max(23px, calc(40% - 553px));
    display:inline-block;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);}
.header-nav {
    margin-right: max(22px, calc(40% - 554px));
    display:inline-block;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);}
.header-nav-ul li {
    display:inline-block;
    margin-left: calc(100vw / 26)}
.header-nav-ul li a {
        color: #000;
        text-decoration: none;}
    .header-nav-ul li a:hover {
        color: #000;
        cursor: pointer;
        text-decoration: underline #000;}    

.hero-sect {
    background-color: #d6d4d0;  /* на MDN написано что создавать фон необходимо (для ситуаций с непрогрузкой фото) */
    background-image: url(../image/Hero-section.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 630px;
    margin-top: 135px;
    position: relative;}
.hero-sect-txt {
    box-sizing: border-box;
    background-color: #ffffff;
    margin: auto;
    width: 48%;
    min-width: 690px;
    max-width: 900px;
    min-height:360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 110px;
    padding-bottom: 110px;}
.hero-sect-txt-first, .hero-sect-txt-second {text-align: center; margin: 0}
.hero-sect-txt-first {margin-bottom: 14px;}
/* Использовал чисто отступы, display и position для верстки (в некоторых местах использовал calc для создания пропорционального расширения и сжатия). */

#Biography {
    width: 81%;
    max-width: 1680px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    padding-top: 151px;}
.img-katya {
    width: 49%;
    min-height: 600px;
    object-fit: cover;}
.biography-title {
    height: 47px;
    transform: rotate(-90deg) translateX(-30%);
    margin-right: auto;}
.biography-katya {
    width: 39%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 36px;}
.biography-katya-quote-block {
    max-width: 370px;
    min-width: 275px;}
.biography-katya-rectangle {
    width: 20px;
    height: 6px;
    background-color: black;
    margin-bottom: 18px;}
/* Использовал чисто Flex для создания секции. */

#Designers {
    width: 100%;
    max-width: 1680px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 58px 1fr;
    padding-top: 148px;}
.designers-name {text-transform: uppercase;}
.designers-title {
        margin-left: 139px;
        grid-row: 1 / 2;}  
.designers-list {                           
        grid-row: 2 / 3;
        display: grid;
        overflow-x: scroll;
        grid-template-columns: repeat(auto-fill, minmax(98.33px, 1fr));
        grid-auto-columns: minmax(98.33px, 1fr);
        grid-template-rows: 99px 439px 81px; 
        grid-auto-flow: column;
        column-gap: 20px;
        margin: 0 20px;}  
    .img-jess { 
        grid-row: 1 / 3;
        grid-column: 1 / 6;}
    .designers-jess {
        grid-row: 3 / 4;
        grid-column: 3 / 6;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;}
    .img-kameron {
        grid-row: 2 / 3;
        grid-column: 6 / 9;}
    .designers-kameron {
        grid-row: 3 / 4;
        grid-column: 6 / 9;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;}
    .img-louisse {
        grid-row: 2 / 3;
        grid-column: 9 / 12;  }
    .designers-louisse {
        grid-row: 3 / 4;
        grid-column: 9 / 12;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;}
    .img-kameron-two {
        grid-row: 2 / 3;
        grid-column: 12 / 15;}
    .designers-kameron-two {
        grid-row: 3 / 4;
        grid-column: 12 / 15;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;}
/* Секция сверстана с использованием Grid (для позиционирования блоков designers-NAME использовал flex).
Вынес заголовок за designers-list для того, чтобы при скролле заголовок оставался на месте и 
не скролился вместе с карточками.  */

#Testimonials {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;}
    .testimonials-site {
            display: grid;
            grid-template-columns: 1fr 57px;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 70px;
            padding: 20px 0px;
            align-items: center;
            grid-column: 1 / 3;}
        .testimonials-site-web {
                height: 57px;
                width: 190px;
                grid-column: 2 / 3;}
            .testimonials-site-web a {
                color: #000;
                text-decoration: none;}
        .web-one {transform: rotateZ(-90deg) translate(2px, -58px);}
        .web-two {transform: rotateZ(-90deg) translate(10px, -66px);}
        .web-three {transform: rotateZ(-90deg) translate(20px, -67px);}
    .img-testimonials {
        object-fit: cover;
        min-height: 760px;
        grid-column: 3 / 7;}
    .testimonials-title {
        transform: rotateZ(-90deg) translateX(-100px);
        height: 40px;
        width: 40px;
        grid-column: 7 / 8;}
    .testimonials-reviews {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-column: 8 / 12;}
        .testimonials-reviews-txt {
            box-sizing: content-box;
            min-width: 216px;
            max-width: 452px;
            padding: 40px min(120px, calc(100% - 335px));
            text-align: center;}
        .img-testimonials-reviews {
            margin-top: -1px;
            margin-left: 3px;
            justify-self: center;}
 /* Использовал чисто Grid для создания секции (в некоторых местах использовал calc для создания пропорционального расширения и сжатия, 
например в testimonials-reviews-txt использовал для вычисления padding в зависимости от ширины).  */

#StrongPoints {
    width: 100%;
    max-width: 1680px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 58px 1fr;
    padding-top: 136px;}
.str-point-title {
    height: 58px;
    margin-left: 258px;
    grid-row: 1 / 2;}
.str-point-list {
        grid-row: 2 / 3;
        display: flex;
        display: grid;
        overflow-x: scroll;
        grid-template-columns: repeat(auto-fill, minmax(98.33px, 1fr));
        grid-auto-columns: minmax(98.33px, 1fr);
        grid-template-rows: 555px; 
        grid-auto-flow: column;
        column-gap: 20px;
        margin: 0 20px;}   
    .img-str-point-one {
        grid-column: 1 / span 3;}
    .img-str-point-two {
        grid-column: 4 / span 3;}
    .str-point-strengths {
        grid-column: 7 / span 4;}
        .str-point-strengths-title {
            width: 453px;
            text-align: center;}
        .str-point-strengths-ul {
            text-align: left;
            padding: 28px 117px 0px 117px; }
    .img-str-point-three {
        grid-column: 11 / span 3;}
    .img-str-point-four {
        grid-column: 14 / span 3;}
/* Написан на Grid и выполнен Fallback для Flex.  */

footer {
    width: 100%;
    height: 168px;
    background-color: #000000;
    color: #ffffff;  
    display:flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    margin-top: 150px;}
.footer-address {
        text-transform: uppercase;
        width: max(273px, 20%);
        margin-left: max(20px, calc(40% - 556px));}  
    .footer-address a {
        color: #ffffff;
        text-decoration: underline #ffffff;}
    .footer-address a:hover {
        text-decoration: none;}
.footer-rights-1 {
    text-align: right;
    width: max(273px, 20%);
    margin-right: max(24px, calc(40% - 552px));}
/* Для верстки использовал Flex, так как это самый простой способ  */