
// Создал данный файл для удобства верстки и подгонки под макет
// Здесь собрал все касаемо скроллбоксов для страницы, при удалении не поломает страницу

.designers__list {  
    &::-webkit-scrollbar { 
        height: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #fff; 
    }
    &::-webkit-scrollbar-thumb {
        background-color: #666666; 
        border-radius: 20px; 
    }
}  
.str-point__list-block {
    &::-webkit-scrollbar { 
        height: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #fff; 
    }
    &::-webkit-scrollbar-thumb {
        background-color: #666666; 
        border-radius: 20px; 
    }
} 
.designers {
    margin-bottom: -10px;
}
.str-point {
    margin-bottom: -10px;
}

html {
    &::-webkit-scrollbar {
        width: 15px; 
    }
    &::-webkit-scrollbar-track {
        background: #cacaca;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #666666; 
    }
} 

@media (max-width: 767px) {
    html {
        &::-webkit-scrollbar {
            width: 0px; 
            height: 0px;
        }
    } 

} 
