$Playfair: "Playfair Display", serif;
$Roboto: "Roboto", sans-serif;
$Bitter: "Bitter", serif;

@mixin fonts-style-desktop ($famili, $font-weight, $font-size, $line-height) {
    font-family: $famili;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}
@mixin fonts-style-desktop-fixed ($famili, $font-weight, $font-size, $line-height) {  
    @media (max-width: 920px) {
        font-family: $famili;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}
@mixin fonts-style-tablet ($famili, $font-weight, $font-size, $line-height) {  
    @media (max-width: 767px) {
        font-family: $famili;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}
@mixin fonts-style-mobile ($famili, $font-weight, $font-size, $line-height) {  
    @media (max-width: 450px) {
        font-family: $famili;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}
@mixin fonts-style-mobile-fixed ($famili, $font-weight, $font-size, $line-height) {  
    @media (max-width: 385px) {
        font-family: $famili;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}

html {
    @include fonts-style-desktop ($Roboto, 400, 0px, 0px);
    @include fonts-style-mobile ($Roboto, 400, 0px, 0px);
    font-style: normal;  
}
.header__title {
    @include fonts-style-desktop ($Playfair, 600, 86px, 103.2px);
    @include fonts-style-desktop-fixed ($Playfair, 600, 80px, 103.2px);
    @media (max-width: 767px) {
        display: none;
    }
}
.nav__link {
    color: $black;
    text-decoration: underline $white;
    
}
.nav__link_desktop {
    @include fonts-style-desktop ($Roboto, 500, 24px, 28.13px);
    @include fonts-style-desktop-fixed ($Roboto, 500, 18px, 28.13px);
    @include fonts-style-tablet ($Roboto, 500, 16px, 18.75px);
    display: inline-block;
    @media (max-width: 450px) {
        display: none;
    }
}
.nav__link_mobile {
    display: none;
    @media (max-width: 450px) {
        @include fonts-style-mobile ($Bitter, 400, 40px, 48px); 
        display: inline-block;  
    }
}
.hero__txt_first {
    @include fonts-style-desktop ($Playfair, 500, 86px, 103.2px);
    @include fonts-style-tablet ($Playfair, 500, 70px, 86px);
    @include fonts-style-mobile ($Playfair, 400, 70px, 93.31px);
    @include fonts-style-mobile-fixed ($Playfair, 400, 64px, 93.31px);
}
.hero__txt_second {
    @include fonts-style-desktop ($Roboto, 500, 20px, 23.44px);
    @include fonts-style-mobile ($Roboto, 500, 18px, 21.09px);
}
.biography__title {
    @include fonts-style-desktop ($Roboto, 700, 24px, 28.13px);
    @include fonts-style-mobile ($Roboto, 700, 18px, 21.09px);
}

.biography__sect-title {
    @include fonts-style-desktop ($Playfair, 500, 86px, 114.64px);
    @include fonts-style-desktop-fixed ($Playfair, 500, 70px, 86px);
    @include fonts-style-mobile ($Playfair, 400, 64px, 85.31px);
    @include fonts-style-mobile-fixed ($Playfair, 400, 54px, 85.31px);
}

.biography__art {
    @include fonts-style-desktop ($Roboto, 500, 18px, 21.09px);
    @include fonts-style-tablet ($Roboto, 500, 16px, 21.09px);
    @include fonts-style-mobile ($Roboto, 500, 18px, 21.09px); 
} 

.biography__quote {
    @include fonts-style-desktop ($Bitter, 400, 26px, 31.2px);
    @include fonts-style-desktop-fixed ($Bitter, 400, 22px, 28px);
    @include fonts-style-tablet ($Bitter, 300, 30px, 36px);
    @include fonts-style-mobile-fixed ($Bitter, 300, 28px, 36px);
} 

.designers__title {
    @include fonts-style-desktop ($Roboto, 700, 24px, 28.13px);
    @include fonts-style-mobile ($Roboto, 700, 18px, 21.09px);
} 
.designers__name {
    @include fonts-style-desktop ($Roboto, 700, 16px, 18.75px);
    text-transform: uppercase;
}
.designers__span{
    @include fonts-style-desktop ($Roboto, 400, 16px, 18.75px);
} 
.designers__span_bold{
    @include fonts-style-desktop ($Roboto, 700, 16px, 18.75px);
} 
.site-block__txt {
    @include fonts-style-desktop ($Roboto, 700, 16px, 18.75px);
    @include fonts-style-mobile-fixed ($Roboto, 700, 14px, 18.75px); 
} 
.site-block__link {
    @include fonts-style-desktop ($Roboto, 400, 16px, 18.75px);
    @include fonts-style-mobile-fixed ($Roboto, 400, 14px, 18.75px); 
    color: $black;
    text-decoration: none;
}
.testimonials__title {
    @include fonts-style-desktop ($Roboto, 700, 24px, 28.13px);
    @include fonts-style-mobile ($Roboto, 700, 18px, 21.09px);
}
.testimonials__reviews-txt {
    @include fonts-style-desktop ($Bitter, 400, 32px, 38.4px);
    @include fonts-style-mobile ($Bitter, 300, 30px, 36px);
} 
.str-point__title {
    @include fonts-style-desktop ($Roboto, 700, 24px, 28.13px);
    @include fonts-style-mobile ($Roboto, 700, 18px, 21.09px);
} 
.strengths-sect__title {
    @include fonts-style-desktop ($Playfair, 500, 86px, 86px);
    @include fonts-style-tablet ($Playfair, 400, 46px, 40px);
} 
.strengths-sect__item {
    @include fonts-style-desktop ($Bitter, 400, 34px, 42.2px);
    @include fonts-style-tablet ($Bitter, 400, 24px, 37px);
} 
.footer__address {
    @include fonts-style-desktop ($Roboto, 400, 16px, 26px);
    text-transform: uppercase;
    &-link {
        color: $white;
        text-decoration: underline $white;
    }
}
.footer__logo-span {
    @include fonts-style-desktop ($Roboto, 900, 24px, 28.13px);
}
.footer__logo-span_first {
    @include fonts-style-desktop ($Roboto, 500, 18px, 21.09px);
} 
.footer__rights {
    @include fonts-style-desktop ($Roboto, 400, 16px, 18.75px);
}
.modal {
    @include fonts-style-desktop ($Roboto, 400, 18px, 24px);
} 
.modal__title {
    @include fonts-style-desktop ($Roboto, 700, 24px, 28.13px);
}
.modal_text{
    @include fonts-style-desktop ($Roboto, 400, 18px, 24px);
}
.form__button{
    @include fonts-style-desktop ($Roboto, 500, 18px, 31.68px);
}
.form__label {
    @include fonts-style-desktop ($Roboto, 500, 18px, 21.09px);
}
.form__input {
    @include fonts-style-desktop ($Roboto, 400, 16px, 18.75px);
}
.form__textarea {
    @include fonts-style-desktop ($Roboto, 400, 16px, 18.75px);
}