@font-face {
  font-family: "Bitter";
  src: url("../Fonts/Bitter/Bitter-VariableFont_wght.ttf") format("ttf");
  font-style: normal;
} 
@font-face {
  font-family: "Playfair Display";
  src: url("../Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
  font-style: normal;
} 
@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; 
} 
@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal; 
} 
@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; 
} 
@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto/Roboto-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal; 
} 