
// Перечислением классов не буду заниматься, напишу для каждого элемента отдельно правила (так в дальнейшем при необходимости будет легче что-то менять для конкретного элемента);

// Отдельно миксин для ПК версии (без медиазапроса); @include fonts-style-desktop ("Roboto", sans-serif, 400, 16px, 16px);
//  Создал дополнительно миксин (при ширине экрана 900px и меньше уменьшаю текст в некоторых секциях); @include fonts-style-desktop-fixed ("Roboto", sans-serif, 400, 16px, 16px);

// Отдельно миксин для мобильной версии (в нем прописан медиазапрос); @include fonts-style-mobile ("Roboto", sans-serif, 400, 16px, 16px);
//  Создал дополнительно миксин (при ширине экрана 385px и меньше уменьшаю текст в некоторых секциях); @include fonts-style-mobile-fixed ("Roboto", sans-serif, 400, 16px, 16px);

// Отдельно миксин для планшетной версии (в нем прописан медиазапрос); @include fonts-style-tablet ("Roboto", sans-serif, 400, 16px, 16px);

html {
    @include fonts-style-desktop ("Roboto", sans-serif, 400, 0px, 0px);
    @include fonts-style-mobile ("Roboto", sans-serif, 400, 0px, 0px);
    font-style: normal;  
}
.header__title {
    @include fonts-style-desktop ("Playfair Display", serif, 600, 86px, 103.2px);
    @media (max-width: 767px) {
        display: none;
    }
}
.nav__link {
    color: #000;
    text-decoration: none;
    &:hover {
        color: #000;
        cursor: pointer;
        text-decoration: underline #000 
    }
    &_mobile:hover {
        font-weight: 700;
    }
}
.nav__link_desktop {
    @include fonts-style-desktop ("Roboto", sans-serif, 500, 24px, 28.13px);
    @include fonts-style-desktop-fixed ("Roboto", sans-serif, 500, 20px, 28.13px);
    @include fonts-style-tablet ("Roboto", sans-serif, 500, 16px, 18.75px);
    display: inline-block;
    @media (max-width: 450px) {
        display: none;
    }
}
.nav__link_mobile {
    display: none;
    @media (max-width: 450px) {
        @include fonts-style-mobile ("Bitter", serif, 400, 40px, 48px); 
        display: inline-block;  
    }
}
.hero__txt_first {
    @include fonts-style-desktop ("Playfair Display", serif, 500, 86px, 103.2px);
    @include fonts-style-tablet ("Playfair Display", serif, 500, 70px, 86px);
    @include fonts-style-mobile ("Playfair Display", serif, 400, 70px, 93.31px);
    @include fonts-style-mobile-fixed ("Playfair Display", serif, 400, 64px, 93.31px);
}
.hero__txt_second {
    @include fonts-style-desktop ("Roboto", sans-serif, 500, 20px, 23.44px);
    @include fonts-style-mobile ("Roboto", sans-serif, 500, 18px, 21.09px);
}
.biography__title {
    @include fonts-style-desktop ("Roboto", sans-serif, 700, 24px, 28.13px);
    @include fonts-style-mobile ("Roboto", sans-serif, 700, 18px, 21.09px);
}
.biography__sect-title {
    @include fonts-style-desktop ("Playfair Display", serif, 500, 86px, 114.64px);
    @include fonts-style-desktop-fixed ("Playfair Display", serif, 500, 70px, 86px);
    @include fonts-style-mobile ("Playfair Display", serif, 400, 64px, 85.31px);
    @include fonts-style-mobile-fixed ("Playfair Display", serif, 400, 54px, 85.31px);
}
.biography__art {
    @include fonts-style-desktop ("Roboto", sans-serif, 500, 18px, 21.09px);
    @include fonts-style-tablet ("Roboto", sans-serif, 500, 16px, 21.09px);
    @include fonts-style-mobile ("Roboto", sans-serif, 500, 18px, 21.09px); //можно удалить
} 
.biography__quote {
    @include fonts-style-desktop ("Bitter", serif, 400, 26px, 31.2px);
    @include fonts-style-desktop-fixed ("Bitter", serif, 400, 22px, 28px);
    @include fonts-style-tablet ("Bitter", serif, 300, 30px, 36px);
    @include fonts-style-mobile-fixed ("Bitter", serif, 300, 28px, 36px);
} 
.designers__title {
    @include fonts-style-desktop ("Roboto", sans-serif, 700, 24px, 28.13px);
    @include fonts-style-mobile ("Roboto", sans-serif, 700, 18px, 21.09px);
} 
.designers__name {
    @include fonts-style-desktop ("Roboto", sans-serif, 700, 16px, 18.75px);
    @include fonts-style-mobile ("Roboto", sans-serif, 700, 16px, 18.75px); //можно удалить
    text-transform: uppercase;
}
.designers__span{
    @include fonts-style-desktop ("Roboto", sans-serif, 400, 16px, 18.75px);
    @include fonts-style-mobile ("Roboto", sans-serif, 400, 16px, 18.75px); //можно удалить
} 
.designers__span_bold{
    @include fonts-style-desktop ("Roboto", sans-serif, 700, 16px, 18.75px);
    @include fonts-style-mobile ("Roboto", sans-serif, 700, 16px, 18.75px); //можно удалить
} 
.site-block__txt {
    @include fonts-style-desktop ("Roboto", sans-serif, 700, 16px, 18.75px);
    @include fonts-style-mobile ("Roboto", sans-serif, 700, 16px, 18.75px); //можно удалить
    @include fonts-style-mobile-fixed ("Roboto", sans-serif, 700, 14px, 18.75px); 
} 
.site-block__link {
    @include fonts-style-desktop ("Roboto", sans-serif, 400, 16px, 18.75px);
    @include fonts-style-mobile ("Roboto", sans-serif, 400, 16px, 18.75px); //можно удалить
    @include fonts-style-mobile-fixed ("Roboto", sans-serif, 400, 14px, 18.75px); 
    color: #000;
    text-decoration: none;
}
.testimonials__title {
    @include fonts-style-desktop ("Roboto", sans-serif, 700, 24px, 28.13px);
    @include fonts-style-mobile ("Roboto", sans-serif, 700, 18px, 21.09px);
}
.testimonials__reviews-txt {
    @include fonts-style-desktop ("Bitter", serif, 400, 32px, 38.4px);
    @include fonts-style-mobile ("Bitter", serif, 300, 30px, 36px);
} 
.str-point__title {
    @include fonts-style-desktop ("Roboto", sans-serif, 700, 24px, 28.13px);
    @include fonts-style-mobile ("Roboto", sans-serif, 700, 18px, 21.09px);
} 
.strengths-sect__title {
    @include fonts-style-desktop ("Playfair Display", serif, 500, 86px, 86px);
    @include fonts-style-tablet ("Playfair Display", serif, 400, 46px, 40px);
} 
.strengths-sect__item {
    @include fonts-style-desktop ("Bitter", serif, 400, 34px, 42.2px);
    @include fonts-style-tablet ("Bitter", serif, 400, 24px, 37px);
} 
.footer__address {
    @include fonts-style-desktop ("Roboto", sans-serif, 400, 16px, 26px);
    @include fonts-style-mobile ("Roboto", sans-serif, 400, 16px, 26px); //можно удалить
    text-transform: uppercase;
    &-link {
        color: #ffffff;
        text-decoration: underline #ffffff;
    }
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
}

.footer__logo-span {
    @include fonts-style-desktop ("Roboto", sans-serif, 900, 24px, 28.13px);
    @include fonts-style-mobile ("Roboto", sans-serif, 900, 24px, 28.13px); //можно удалить
}
.footer__logo-span_first {
    @include fonts-style-desktop ("Roboto", sans-serif, 500, 18px, 21.09px);
    @include fonts-style-mobile ("Roboto", sans-serif, 500, 18px, 21.09px); //можно удалить
} 
.footer__rights {
    @include fonts-style-desktop ("Roboto", sans-serif, 400, 16px, 18.75px);
    @include fonts-style-mobile ("Roboto", sans-serif, 400, 16px, 18.75px); //можно удалить
}