$Playfair: "Playfair Display", serif;
$Roboto: "Roboto", sans-serif;
$Bitter: "Bitter", serif;

@mixin fonts-style-desktop ($famili, $font-weight, $font-size, $line-height) {
    font-family: $famili;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}
@mixin fonts-style-desktop-fixed ($famili, $font-weight, $font-size, $line-height) {  
    @media (max-width: 920px) {
        font-family: $famili;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}
@mixin fonts-style-tablet ($famili, $font-weight, $font-size, $line-height) {  
    @media (max-width: 767px) {
        font-family: $famili;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}
@mixin fonts-style-mobile ($famili, $font-weight, $font-size, $line-height) {  
    @media (max-width: 450px) {
        font-family: $famili;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}
@mixin fonts-style-mobile-fixed ($famili, $font-weight, $font-size, $line-height) {  
    @media (max-width: 385px) {
        font-family: $famili;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}