@mixin fonts-style-desktop ($famili, $serif, $font-weight, $font-size, $line-height) {
    font-family: $famili, $serif;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
 
}
@mixin fonts-style-desktop-fixed ($famili, $serif, $font-weight, $font-size, $line-height) {  
    @media (max-width: 901px) {
        font-family: $famili, $serif;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}
@mixin fonts-style-tablet ($famili, $serif, $font-weight, $font-size, $line-height) {  
    @media (max-width: 767px) {
        font-family: $famili, $serif;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}
@mixin fonts-style-mobile ($famili, $serif, $font-weight, $font-size, $line-height) {  
    @media (max-width: 450px) {
        font-family: $famili, $serif;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}
@mixin fonts-style-mobile-fixed ($famili, $serif, $font-weight, $font-size, $line-height) {  
    @media (max-width: 385px) {
        font-family: $famili, $serif;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height; 
    } 
}