*:focus-visible {
    outline: 2px solid $black; 
    outline-offset: 3px;
    border-radius: 4px;
}

.nav__link {
    &:hover {
        color: $black;
        cursor: pointer;
        text-decoration: underline $black;
    }
    &_mobile:hover {
        font-weight: 700;
    }
}

.header__button {
    &:hover {
        background-color: $white;
        box-shadow: 0 0 1px 3px $black;
        color: $black;
        cursor: pointer;
    }
    &:focus-visible {
        box-shadow: 0 0 1px 3px $black;
        outline: none;
    }
}

.footer__address-link:hover {
    cursor: pointer;
    text-decoration: none;
}
.footer__address-link:focus-visible {
    outline: 2px solid $white; 
}

.form__input-block:hover > .form__input {
    border: none;
    box-shadow: 0 0 1px 2px $black;
    color: $black;
    background-color: transparent;
    &:focus-visible {
        border: none;
        box-shadow: 0 0 1px 2px $blue;
        outline: none;
        background-color: $blue-fon;
    }
}

.form__input {
    &:valid {
        border: none;
        box-shadow: 0 0 1px 1px $green;
        outline: none;
        background-color: $green-fon;
    }
    &:invalid {
        border: none;
        box-shadow: 0 0 1px 1px $red;
        outline: none;
        background-color: $red-fon;
    }
    &:hover {
        border: none;
        box-shadow: 0 0 1px 2px $black;
        color: $black;
    }
    &:focus-visible {
        border: none;
        box-shadow: 0 0 1px 1px $blue;
        outline: none;
        background-color: $blue-fon;
    }
}

.form__input:valid ~ .form__icon {
    stroke: $green;
    fill: $green;
}
.form__input:invalid ~ .form__icon {
    stroke: $red;
    fill: $red;
}

.form__input-block:hover > .form__textarea {
    border: none;
    box-shadow: 0 0 1px 2px $black;
    color: $black;
    background-color: transparent;
    &:focus-visible {
        border: none;
        box-shadow: 0 0 1px 2px $blue;
        outline: none;
        background-color: $blue-fon;
    }
}
.form__textarea {
    &:hover {
        border: none;
        box-shadow: 0 0 1px 2px $black;
        color: $black;
    }
    &:focus-visible {
        border: none;
        box-shadow: 0 0 1px 1px $blue;
        outline: none;
        background-color: $blue-fon;
    }
}
.form__textarea:hover ~ .form__icon {
    stroke: $black;
    fill: $black;
}
.form__textarea:focus-visible ~ .form__icon {
    stroke: $blue;
    fill: $blue;
}

.form__input-block:has(>.form__input:invalid) ~ .form__button_send {
    &:hover {
        color: $red;
        box-shadow: 0 0 1px 3px $red;
        background-color: transparent;
    }
    &:active {
        transform: scale(1);
    }
}
.form__button {
    &:hover {
        color: $black;
        box-shadow: 0 0 1px 3px $black;
        background-color: transparent;
    }
    &:focus-visible {
        box-shadow: 0 0 1px 3px $black;
        outline: none;
    }
    &:active {
        transform: scale(0.5);
    }
}
