.biography {
    width: 81%;
    max-width: 1680px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding-top: 151px;
}
.biography__img {
    width: 49%;
    min-height: 600px;
    object-fit: cover;
}
.biography__title {
    height: 47px;
    transform: rotate(-90deg) translateX(-30%);
    margin-right: auto;
}
.biography__sect {
    width: 39%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.biography__sect-title {
    max-width: 420px;
}
.biography__art-span {
    &::before{
        content: '';
    }  
}
.biography__art-span_slash {
    &::after{
        content: ' /';
    }
}
.biography__quote-sect {
    max-width: 370px;
}
.biography__break{
    display: none;
}
.biography__rectangle {
    width: 20px;
    height: 6px;
    background-color: $black;
    margin-bottom: 18px;
}
.biography__img-mobile {
    display: none;
}

/* Использовал чисто Flex для создания секции. */

@media (max-width: 767px) {
    .biography {
        padding-top: 100px;
        width: 100%;
        flex-direction: column;
    }
    .biography__img {
        margin: 32px 0;
        order: 2;
        width: 100%;
        min-height: 0;
        height: 600px;
    }
    .biography__title {
        order: 1;
        transform: none;
        margin-left: 16px;
        height: min-content;

    }
    .biography__sect {
        order: 3;
        width: 100%;
        gap: 25px;
        padding: 0 30px;
        text-align: center;
    }
    .biography__sect-title {
        max-width: 100%;
    }
    .biography__quote-sect {
        max-width: 100%;
    }
    .biography__rectangle {
        display: none;
    }

}

@media (max-width: 450px) {
    .biography {
        position: relative;
        padding-top: 81px;
    }
    .biography__img {
        display: none;
    }
    .biography__title {
        position: absolute;
        top: 80px; 
        right: 26.1px;
    }
    .biography__sect {
        order: 0;
        padding: 0;
        padding-left: 18px;
        gap: 0px;
        text-align: left;
    }
    .biography__sect-title{
        order: 3;
        &::before{
            content: '-';
        }
        margin-bottom: 35px;
    }
    .biography__art{
        order: 1;
        display: flex;
        flex-direction: column;
        align-self: start;
        margin-bottom: 57px;
    }
    .biography__quote-sect {
        order: 2;
        height: 226px;
        width: 100%;
        margin-right: 18px;
        margin-bottom: 41px;
    }
    .biography__break{
        display: inline;
    }
    .biography__img-mobile {
        display: inline-block;
    }
    .biography__art-span {
        &::before{
            content: '- ';
        }  
    }
    .biography__art-span_slash {
        &::after{
            content: '';
        }
    }
}