.designers {
    padding-top: 148px;
}
.designers__title {
    max-width: 1680px;
    margin: 0 auto;
    padding-left: 139px; 
    padding-bottom: 30px;
}   
.designers__list {  
    max-width: min-content;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 98.33px);
    grid-auto-columns: 98.33px;
    grid-template-rows: 99px 439px 81px; 
    grid-auto-flow: column;
    column-gap: 20px;
    overflow-x: auto;
}  
.designers__img_jess {
    display: inline-block; 
    grid-row: 1 / 3;
    grid-column: 1 / 6;
}
.designers__img_jess-mobile {
    display: none;
}
.designers__block_jess {
    grid-row: 3 / 4;
    grid-column: 3 / 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.designers__img_kameron {
    display: inline-block; 
    grid-row: 2 / 3;
    grid-column: 6 / 9;
}
.designers__img_kameron-mobile {
    display: none;
}
.designers__block_kameron {
    grid-row: 3 / 4;
    grid-column: 6 / 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.designers__img_louisse {
    display: inline-block; 
    grid-row: 2 / 3;
    grid-column: 9 / 12;  
}
.designers__img_louisse-mobile {
    display: none;
}
.designers__block_louisse {
    grid-row: 3 / 4;
    grid-column: 9 / 12;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.designers__img_kameron-two {
    display: inline-block; 
    grid-row: 2 / 3;
    grid-column: 12 / 15;
}
.designers__img_kameron-two-mobile {
    display: none;
}
.designers__block_kameron-two {
    grid-row: 3 / 4;
    grid-column: 12 / 15;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* Секция сверстана с использованием Grid (для позиционирования блоков designers-NAME использовал flex).
Вынес заголовок за designers-list для того, чтобы при скролле заголовок оставался на месте и 
не скролился вместе с карточками.  */

@media (max-width: 767px) {
    .designers {
        padding-top: 100px;
    }
    .designers__title {
        margin-left: 16px; 
        padding-bottom: 32px;
    }   
    .designers__list {  
        padding-left: 16px;
        padding-right: 16px;
        grid-template-columns: repeat(auto-fit, 92.5px);
        grid-auto-columns: 92.5px;
        grid-template-rows: 438px 83px; 
        column-gap: 16px;
    }  
    .designers__img_jess-mobile {
        display: inline-block; 
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }
    .designers__img_jess {
        display: none;
    }
    .designers__block_jess {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }
    .designers__img_kameron-mobile {
        display: inline-block; 
        grid-row: 1 / 2;
        grid-column: 4 / 7;
    }
    .designers__img_kameron {
        display: none;
    }
    .designers__block_kameron {
        grid-row: 2 / 3;
        grid-column: 4 / 7;
    }
    .designers__img_louisse-mobile {
        display: inline-block; 
        grid-row: 1 / 2;
        grid-column: 7 / 10;  
    }
    .designers__img_louisse {
        display: none;
    }
    .designers__block_louisse {
        grid-row: 2 / 3;
        grid-column: 7 / 10;
    }
    .designers__img_kameron-two-mobile {
        display: inline-block; 
        grid-row: 1 / 2;
        grid-column: 10 / 13;
    }
    .designers__img_kameron-two {
        display: none;
    }
    .designers__block_kameron-two {
        grid-row: 2 / 3;
        grid-column: 10 / 13;
    }
}
@media (max-width: 450px) {
    .designers {
        padding-top: 80px;
    }
}