header {
    background-color: #ffffff;
    position: fixed;  
    width: 100%;
    height: 135px;    
    top: 0; 
    z-index: 110;}   
.header__title {
    margin-left: max(23px, calc(40% - 553px));
    display:inline-block;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);}
.nav {
    margin-right: max(22px, calc(40% - 554px));
    display:inline-block;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);}
.nav__item {
    display:inline-block;
    margin-left: calc(100vw / 26)}
 