.header {
    background-color: #ffffff;
    width: 100%; 
    position: sticky; 
    top: 0;    
    height: 135px;    
    z-index: 110;
    scrollbar-gutter: stable;
}   
.header__block {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 135px;
    max-width: 1680px;
}
.header__title {
    margin-left: 23px;
    display:inline-block;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}
.nav {
    margin-right: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
}

.nav__item {
    display: inline-block;
    margin-right: max(20px, calc(10vw - 89px));
}

.header__button {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    border: 2px solid black;
}

@media (max-width: 767px) {
    .header {
        height: 80px; 
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;   
    }  
    .header__block {
        height: 80px;
    }
    .nav {
        display: inline-block;
        width: 100%;
        left: 0%;
    }
    .nav__list-block {
        display: flex;
        justify-content: space-evenly;
    }
    .nav__item {
        margin-right: 0;
        margin-left: 0;
    }
    .header__button {
        display: none;
    }
}
 
@media (max-width: 450px) {
    .header { 
        top: calc(100vh - 82px); 
        min-width: 350px;
        height: 82px;
        margin-bottom: 273px;
    }  
    .header__block {
        height: 82px;
    }
    .nav__list-block {
        width: calc(100% - 32px);
        margin-left: 15px;
        margin-right: 16px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr; 
        column-gap: 15px;
        justify-items: center;
    } 
} 

