.hero {
    background-color: #d6d4d0;  /* на MDN написано что создавать фон необходимо (для ситуаций с непрогрузкой фото) */
    background-image: url(../image/Hero-section.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 630px;
    margin-top: 135px;
    position: relative;}
.hero__txt-block {
    box-sizing: border-box;
    background-color: #ffffff;
    margin: auto;
    width: max(690px, calc(20% + 402px));
    min-height:360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 110px;
    padding-bottom: 110px;}
.hero__txt {text-align: center; margin: 0}
.hero__txt_first {margin-bottom: 14px;}
/* Использовал чисто отступы, display и position для верстки (в некоторых местах использовал calc для создания пропорционального расширения и сжатия). */
