.modal {
    margin: 78px auto;
    width: 480px;
    height: 588.45px;
    border-radius: 10px;
}
.modal__button {
    position: absolute;
    bottom: 20px;
    display: inline-block;
    width: 179.54px;
    height: 55.45px;
    border-radius: 8px;
}
.modal__title {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 24px;
}
.modal_text{
    margin-left: 20px;
}
.modal__button_cancel {
    left: 50.46px;
    border: 1.32px solid black;
}
.modal__button_send {
    right: 50.56px;
    color: white;
    background-color: black;
    text-align: center;
}
.modal::backdrop {
    margin: 78px auto;
    width: 480px;
    height: 588.45px;
    background-color: transparent;
    opacity: 1;
    border: 2px solid white;
    border-radius: 10px;
    transform: rotate(2deg);
}
.popap-bcg {
    z-index: 120;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    &--open-modal {
        display: block;
    }
}