.modal {
    margin: 0 auto;
    margin-top: max(10px, calc((100vh - 588.45px) / 2));
    width: 480px;
    height: 588.45px;
    border-radius: 10px;
    padding: 20px;
    transition: display 1s allow-discrete,  overlay 1s allow-discrete, opacity 0.8s;
    opacity: 0;
}
.modal::backdrop {
    margin: 0 auto;
    margin-top: max(10px, calc((100vh - 588.45px) / 2));
    width: 480px;
    height: 588.45px;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 10px;
    transform: rotate(2deg);
    transition: display 1s allow-discrete,  overlay 1s allow-discrete, opacity 1s, transform 2s;
    opacity: 0;
}
.modal-background {
    z-index: 120;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $black-fon;
    opacity: 0;
    transition: display 1s allow-discrete,  overlay 1s allow-discrete, opacity 1s;
    &--open-modal {
        display: block;
        opacity: 1;
    }
}
[open]::backdrop {
    opacity: 1;
    transform: rotate(2deg);
}
[open] {
    opacity: 1;
}
 @starting-style {
    [open], [open]::backdrop, 
    .modal-background
    { 
    opacity: 0;
    transform: rotate(0deg);
    }
}
.modal__title {
    margin-bottom: 24px;
}
.modal_text{
    margin-bottom: 24px;
}
.form__input-block {
    position: relative;
    &:hover > .form__input {
        border: none;
        box-shadow: 0 0 1px 2px $black;
        color: $black;
        background-color: transparent;
        transition: all $time;
        &:focus-visible {
            border: none;
            box-shadow: 0 0 1px 2px $blue;
            outline: none;
            background-color: $blue-fon;
            transition: all $time;
        }
    }
    &:hover > .form__textarea {
        border: none;
        box-shadow: 0 0 1px 2px $black;
        color: $black;
        background-color: transparent;
        transition: all $time;
        &:focus-visible {
            border: none;
            box-shadow: 0 0 1px 2px $blue;
            outline: none;
            background-color: $blue-fon;
            transition: all $time;
        }
    }
    &:has(>.form__input:invalid) ~ .form__button_send {
        &:hover {
            color: $red;
            box-shadow: 0 0 1px 3px $red;
            background-color: transparent;
            transition: all $time-button;
        }
        &:active {
            transform: scale(0.95);
            transition: all $time-button;
        }
    }
}
.form__label {
    display: block;
    margin-bottom: 5px;
}
.form__input {
    box-shadow: 0 0 2px 1px $grey;
    border-radius: 8px;
    width: 100%;
    height: 42px;
    margin-bottom: 24px;
    padding: 6px 10px;
    padding-right: 50px;
    transition: all $time;
    &:valid {
        border: none;
        box-shadow: 0 0 1px 1px $green;
        outline: none;
        background-color: $green-fon;
        transition: all $time;
    }
    &:invalid {
        border: none;
        box-shadow: 0 0 1px 1px $red;
        outline: none;
        background-color: $red-fon;
        transition: all $time;
    }
    &:hover {
        border: none;
        box-shadow: 0 0 1px 2px $black;
        color: $black;
        transition: all $time;
    }
    &:focus-visible {
        border: none;
        box-shadow: 0 0 1px 1px $blue;
        outline: none;
        background-color: $blue-fon;
        transition: all $time;
    }
    &:valid ~ .form__icon {
        stroke: $green;
        fill: $green;
        transition: all $time;
    }
    &:invalid ~ .form__icon {
        stroke: $red;
        fill: $red;
        transition: all $time;
    }
}
.form__textarea {
    box-shadow: 0 0 2px 1px $grey;
    border-radius: 8px;
    width: 100%;
    height: 135px;
    padding: 10px 10px;
    padding-right: 40px;
    margin-bottom: 24px;
    transition: all $time;
    &:hover {
        border: none;
        box-shadow: 0 0 1px 2px $black;
        color: $black;
        transition: all $time;
    }
    &:focus-visible {
        border: none;
        box-shadow: 0 0 1px 1px $blue;
        outline: none;
        background-color: $blue-fon;
        transition: all $time;
    }
    &:hover ~ .form__icon {
        stroke: $black;
        fill: $black;
        transition: all $time;
    }
    &:focus-visible ~ .form__icon {
        stroke: $blue;
        fill: $blue;
        transition: all $time;
    }
}
.form__button {
    margin-top: -7px;
    display: inline-block;
    width: 179.54px;
    height: 55.45px;
    border-radius: 8px;
    color: $white;
    background-color: $black;
    transition: all $time-button;
    &:hover {
        color: $black;
        box-shadow: 0 0 1px 3px $black;
        background-color: transparent;
        transition: all $time-button;
    }
    &:focus-visible {
        box-shadow: 0 0 1px 3px $black;
        outline: none;
        transition: all $time-button;
    }
    &:active {
        transform: scale(0.8);
        transition: all $time-button;
    }
}
.form__button_cancel {
    margin-left: 31px;
    margin-right: 13px;
}
.form__button_send {
    text-align: center;
    transition: all $time-button;
}

.icon-send:before {
    content: "\e903";
    color:inherit;
    margin-right: 17px;
}

.form__icon {
    position: absolute;
    right: 12px;
    stroke: $black;
    fill: $black;
    transition: all $time;
}
.form__icon_name {
    margin-top: 8px;
}
.form__icon_email {
    margin-top: 8px;
}
.form__icon_textarea {
    margin-top: 11px;
}


