.modal {
    margin: max(10px, calc(100vh - 767px)) auto;
    width: 480px;
    height: 588.45px;
    border-radius: 10px;
    padding: 20px;
}
.modal__title {
    margin-bottom: 24px;
}
.modal_text{
    margin-bottom: 24px;
}
.modal::backdrop {
    margin: max(10px, calc(100vh - 767px)) auto;
    width: 480px;
    height: 588.45px;
    background-color: transparent;
    opacity: 1;
    border: 2px solid white;
    border-radius: 10px;
    transform: rotate(2deg);
}
.modal-background {
    z-index: 120;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    &--open-modal {
        display: block;
    }
}

