.str-point {
    padding-top: 136px;
}
.str-point__title {
    margin: 0 auto;
    max-width: 1680px;
    padding-left: 258px;
    // margin-left: max(60px, calc(40% - 318px));
    padding-bottom: 30px;
}
.str-point__list-block {
    max-width: max-content;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, 98.33px);
    grid-auto-columns: 98.33px;
    grid-template-rows: 555px; 
    grid-auto-flow: column;
    column-gap: 20px;
    overflow-x: auto;
}   
.str-point__img-one {
    display: inline-block;
    grid-column: 1 / span 3;
}
.str-point__img-two {
    display: inline-block;
    grid-column: 4 / span 3;
}
.strengths-sect {
    grid-column: 7 / span 4;
}
.strengths-sect__title {
    width: 453px;
    text-align: center;
}
.strengths-sect__list {
    text-align: left;
    padding: 28px 117px 0px 117px; 
}
.str-point__img-three {
    display: inline-block;
    grid-column: 11 / span 3;
}
.str-point__img-three-mobile {
    display: none;
}
.str-point__img-four {
    display: inline-block;
    grid-column: 14 / span 3;
}
.str-point__img-four-mobile {
    display: none;
}
/* Написан на Grid и выполнен Fallback для Flex.  */

@media (max-width: 767px) {
    .str-point {
        padding-top: 100px;
    }
    .str-point__title {
        margin-left: 16px;
        padding-bottom: 32px;
    }
    .str-point__list-block {
        padding-left: 16px;
        padding-right: 16px;
        grid-template-columns: repeat(auto-fit, 92.5px);
        grid-auto-columns: 92.5px;
        grid-template-rows: 450px; 
        column-gap: 16px;
    }   
    .str-point__img-one {
        display: none;
    }
    .str-point__img-two {
        display: none;
    }
    .strengths-sect {
        grid-column: 1 / span 2;
    }
    .strengths-sect__title {
        width: min-content;
    }
    .strengths-sect__list {
        padding: 24px 0px 0px 16px; 
    }
    .str-point__img-three {
        display: none;
    }
    .str-point__img-three-mobile {
        display: inline-block;
        grid-column: 3 / span 3;
    }
    .str-point__img-four {
        display: none;
    }
    .str-point__img-four-mobile {
        display: inline-block;
        grid-column: 6 / span 3;
    }
}
@media (max-width: 450px) {
    .str-point {
        padding-top: 78px;
    }
}